@model WebLibrary.Models.Author

<h2>Add Author</h2>

<form method="post">

    <label>Full Name</label><br />
    <input type="text" name="FullName" style="width:300px;" />

    <br /><br />

    <button type="submit">Save</button>

</form>

<br />
<a href="/Authors">Back</a>