@model WebLibrary.Models.Genre

<h2>Add Genre</h2>

<form method="post">

    <label>Name</label><br />
    <input type="text" name="Name" style="width:300px;" />

    <br /><br />

    <button type="submit">Save</button>

</form>

<br />
<a href="/Genres">Back</a>